<div>
  <div>
    <h3>Super Categories</h3>
  </div>
  <div
    ng-if="object.superCategories.length"
    style="display: flex; flex-wrap: wrap; gap: 10px"
  >
    <div
      class="spr__brandCard"
      ng-repeat="superCategory in object.superCategories"
    >
      <div
        style="
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
        "
      >
        <div>
          <img
            src="{{superCategory.logo}}"
            style="object-fit: contain; height: 80px"
            alt="..."
          />
        </div>
        <div>{{superCategory.name}}</div>
      </div>
      <div style="cursor: pointer">
        <i
          ng-click="setData(superCategory)"
          data-toggle="modal"
          data-target="#exampleModal1"
          data-whatever="@mdo"
          class="fas fa-edit"
        ></i>
      </div>
      <div
        ui-sref="brandadmin.subCategory({id:superCategory._id,name:superCategory.name})"
        style="
          cursor: pointer;
          padding: 5px;
          opacity: 0.8;
          border: 1px solid lightgray;
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        "
      >
        <span>Add/Show sub category</span>
      </div>
    </div>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal"
      data-whatever="@mdo"
    >
      Add Super Category
    </button>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Enter Super Category Details
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form name="superCategoryData" novalidate>
              <div class="form-group">
                <label for="name" class="col-form-label"
                  >Super Category Name:</label
                >
                <input
                  type="text"
                  name="name"
                  ng-required="true"
                  ng-minlength="3"
                  ng-model="object.superCategory.name"
                  class="form-control"
                />
                <span
                  ng-show="superCategoryData.name.$dirty && superCategoryData.name.$error.minlength"
                  >Minimum 3 characters required</span
                >
              </div>
              <div class="form-group">
                <label for="logo" class="col-form-label"
                  >Logo (optional):</label
                >
                <input
                  type="file"
                  name="logo"
                  file-model="object.superCategory.logo"
                  id="logo"
                />
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  ng-disabled="superCategoryData.$invalid"
                  ng-click="addCategory($event)"
                  class="btn btn-primary"
                >
                  {{object.btnText}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Enter Super Category Details
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="categoryData" novalidate>
          <div class="form-group">
            <label for="name" class="col-form-label"
              >Super Category Name:</label
            >
            <input
              type="text"
              name="name"
              ng-required="true"
              ng-minlength="3"
              ng-model="object.category.name"
              class="form-control"
            />
            <span
              ng-show="categoryData.name.$dirty && categoryData.name.$error.minlength"
              >Minimum 3 characters required</span
            >
          </div>
          <div class="form-group">
            <label for="logo" class="col-form-label">Logo (optional):</label>
            <input
              type="file"
              name="logo"
              file-model="object.category.logo"
              id="logo"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              ng-disabled="categoryData.$invalid"
              ng-click="updateSuperCategory($event)"
              class="btn btn-primary"
            >
              update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
