<div class="spr__extDiv">
  <div>
    <div
      style="
        border: 1px solid lightgray;
        border-radius: 3px;
        background: #fdfdfd;
        margin: 10px;
        padding: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      "
      class="modal-body"
    >
      <span style="font-weight: 800; opacity: 0.7"> Edit Profile </span>
      <form name="adminData" novalidate>
        <div class="form-group">
          <label for="userName" class="col-form-label">UserName :</label>
          <input
            type="text"
            name="userName"
            ng-required="true"
            ng-minlength="3"
            ng-model="brandAdmin.userName"
            class="form-control"
          />
          <span
            ng-show="adminData.userName.$dirty && adminData.userName.$error.minlength"
            >Minimum 3 characters required</span
          >
          <span
            ng-show="adminData.userName.$dirty && adminData.userName.$error.required"
            >Please fill this field</span
          >
        </div>
        <div class="form-group">
          <label for="firstName" class="col-form-label">FirstName :</label>
          <input
            type="text"
            name="firstName"
            ng-required="true"
            ng-minlength="3"
            ng-model="brandAdmin.firstName"
            class="form-control"
          />
          <span
            ng-show="adminData.firstName.$dirty && adminData.firstName.$error.minlength"
            >Minimum 3 characters required</span
          >
          <span
            ng-show="adminData.firstName.$dirty && adminData.firstName.$error.required"
            >Please fill this field</span
          >
        </div>
        <div class="form-group">
          <label for="lastName" class="col-form-label">LastName :</label>
          <input
            type="text"
            name="lastName"
            ng-minlength="0"
            ng-model="brandAdmin.lastName"
            class="form-control"
          />
          <span
            ng-show="adminData.lastName.$dirty && adminData.lastName.$error.minlength"
            >Minimum 3 characters required</span
          >
          <!-- <span ng-show="adminData.lastName.$dirty && adminData.lastName.$error.required">Please fill this field</span> -->
        </div>
        <div class="form-group">
          <label for="email" class="col-form-label">Email :</label>
          <input
            type="email"
            name="email"
            ng-required="true"
            ng-pattern="/^([a-z A-Z 0-9\.-]+)@([0-9 a-z A-Z -]+).([a-z]{2,8})(.[a-z{2,4}])?$/"
            ng-model="brandAdmin.email"
            class="form-control"
          />
          <span
            ng-show="adminData.email.$dirty && !adminData.email.$error.required && adminData.email.$invalid"
            >Please enter correct email</span
          >
          <span
            ng-show="adminData.email.$dirty && adminData.email.$error.required"
            >Please fill this field</span
          >
        </div>
        <div class="form-group">
          <label for="number" class="col-form-label">Phone Number :</label>
          <input
            type="number"
            name="number"
            ng-required="true"
            ng-pattern="/^\d{10}$/"
            ng-model="brandAdmin.number"
            class="form-control"
          />
          <span ng-show="adminData.number.$dirty && adminData.number.$invalid"
            >please enter correct number</span
          >
          <span
            ng-show="adminData.number.$dirty && adminData.number.$error.required"
            >Please fill this field</span
          >
        </div>

        <div class="modal-footer">
          <button
            type="submit"
            ng-disabled="adminData.$invalid"
            ng-click="updateAdmin($event,brandAdmin._id)"
            class="btn btn-primary"
          >
            Update
          </button>
        </div>
      </form>
    </div>

    <div
      style="
        border: 1px solid lightgray;
        border-radius: 3px;
        background: #fdfdfd;
        margin: 10px;
        padding: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      "
      class="modal-body"
    >
      <span style="font-weight: 800; opacity: 0.7"> Change Password </span>
      <form name="passwordForm" novalidate>
        <div class="form-group">
          <label for="password" class="col-form-label">Password :</label>
          <input
            type="password"
            name="password"
            ng-required="true"
            ng-minlength="5"
            ng-maxlength="8"
            ng-model="brandAdmin.password"
            class="form-control"
          />
          <span
            ng-show="passwordForm.password.$dirty && (passwordForm.password.$error.minlength || passwordForm.password.$error.maxlength)"
            >Minimum 5-8 characters required</span
          >
          <span
            ng-show="passwordForm.password.$dirty && passwordForm.password.$error.required"
            >Please fill this field</span
          >
        </div>
        <div class="form-group">
          <label for="cpassword" class="col-form-label"
            >Confirm Password :</label
          >
          <input
            type="password"
            ng-disabled="!brandAdmin.password"
            name="cpassword"
            ng-required="true"
            ng-minlength="5"
            ng-maxlength="8"
            ng-model="brandAdmin.cpassword"
            class="form-control"
          />
          <span
            ng-show="passwordForm.cpassword.$dirty && passwordForm.cpassword.$error.required"
            >Please fill this field</span
          >
          <span
            ng-show="passwordForm.cpassword.$dirty && !(passwordForm.cpassword.$error.required) && brandAdmin.password && admin.password!=admin.cpassword"
            >confirm password is not matching password</span
          >
        </div>

        <div class="modal-footer">
          <button
            type="submit"
            ng-disabled="passwordForm.$invalid"
            ng-click="changePassword($event)"
            class="btn btn-primary"
          >
            Change
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
