<div class="sidebar">
  <div class="logo-details">
    <img
      style="object-fit: contain; height: 36px"
      src="{{object.brand.logo}}"
      alt="..."
    />
    <span class="logo_name">{{object.brand.name}}</span>
  </div>
  <ul class="nav-links">
    <li>
      <a ui-sref="brandadmin.dashboard">
        <i title="Dashboard" class="bx bx-grid-alt"></i>
        <span class="link_name">Dashboard</span>
      </a>
    </li>

    <li></li>
    <li>
      <a ui-sref="brandadmin.outlets">
        <i title=" create outlets" class="bx bx-buildings"></i>
        <span class="link_name">Create Outlet</span>
      </a>
    </li>

    <li></li>
    <li>
      <a ui-sref="brandadmin.users">
        <i title="users" class="bx bxs-user-detail"></i>
        <span class="link_name">Users</span>
      </a>
    </li>

    <li></li>

    <li>
      <a ui-sref="brandadmin.brandAdminCategory">
        <i title="food super categories" class="bx bx-category"></i>
        <span class="link_name"> Create Super Categories</span>
      </a>
    </li>

    <li>
      <a ui-sref="brandadmin.setting({id:object.brand._id})">
        <i class="bx bx-cog"></i>
        <span class="link_name">Setting</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Setting</a></li>
      </ul>
    </li>
    <li>
      <a ng-click="logOutHandler()">
        <i title="LogOut" class="bx bx-log-out-circle"></i>
        <span class="link_name">Logout</span>
      </a>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="home-content">
    <div>
      <i class="bx bx-menu"></i>
    </div>

    <div style="width: -webkit-fill-available" ui-view></div>
  </div>
</section>
