<div class="spr__extDiv" ng-controller="brandAdminController">
    <div style="height: 51px;">
        <nav class="spr__header">
            <div>
                <span>
                    <img style="object-fit: contain;
                        height: 36px;"
                        src={{brandLogo}}
                        alt="...">
                </span>
            </div>
            <div>
                <span style="font-weight: 900;">
                    {{brandName}}
                </span>
            </div>
        </nav>
    </div>
    <div class="spr__mainDiv">

    <div class="spr__nav">
        <div ui-sref="brandadmin.home" ui-sref-active="active" class="nav">
            Home
        </div>
        <div ui-sref-active="active"  ui-sref="brandadmin.users" class="nav">
            Users
        </div>
        <div ui-sref="brandadmin.brandCategory" ui-sref-active="active" class="nav">
          Super Categories
        </div>
        <div ui-sref="brandadmin.brandAdminCategory" ui-sref-active="active" class="nav">
          Create Super Category
        </div>
        <div ui-sref="brandadmin.setting({id:brandId})" ui-sref-active="active" class="nav">
          Setting
        </div>
    </div>
    <div class="spr__rightSide" ui-view >
        
</div>
</div>