<div ng-class="{'dim':isLoading}" style="display: flex; flex-wrap: wrap">
  <div style="width: 100%">
    <div style="justify-content: space-between" id="container1">
      <div class="box">
        <div class="subBox">
          <p><i title="outlets" class="bx bx-building"></i></p>
          <span> Total Outlets </span>
          <p id="upComingData">{{object.totalOutlets}}</p>
        </div>
      </div>
      <div class="box">
        <div class="subBox">
          <p>
            <i title="employees" class="fa fa-users" aria-hidden="true"></i>
          </p>
          <span> Total Employees </span>
          <p id="noOfCustomer">{{object.totalEmployees}}</p>
        </div>
      </div>
      <div class="box">
        <div class="subBox">
          <p><i title="Total Revenue" class="bx bx-cart"></i></p>
          <span>Total Revenue </span>
          <p id="totalPay">Rs. {{object.totalRevenue}}</p>
        </div>
      </div>
    </div>

    <div
      style="
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid lightgray;
        border-radius: 3px;
        background: #fdfdfd;
        margin: 10px;
        padding: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      "
    >
      <div>
        <div
          style="
            width: 700px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 1px solid lightgray;
            border-radius: 3px;
          "
          ng-show="object.brandDates.length>1"
        >
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 5px;
            "
          >
            <span>
              Brand Activity :
              <span style="font-weight: 900; opacity: 0.7"
                >{{object.months[object.month]}}</span
              >
            </span>
            <div class="dropdown show">
              <a
                class="btn btn-secondary dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Select Month
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  ng-repeat="month in object.months"
                  ng-click="getBrandGraph($index)"
                  >{{month}}</a
                >
              </div>
            </div>
            <div>
              <i ng-click="decreaseYear()" class="bx bxs-left-arrow"></i>
              <span> {{object.currentYear}} </span>
              <i ng-click="increaseYear()" class="bx bxs-right-arrow"></i>
            </div>
          </div>
          <div style="display: flex; gap: 5px">
            <div>
              <h3>Brand Revenue Analysis</h3>
              <canvas id="myChart1" area-label="chart"></canvas>
            </div>

            <div
              style="
                width: 222px;
                height: 133px;
                padding: 10px;
                border: 1px solid lightgray;
                margin: 10px;
                border-radius: 3px;
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <div style="display: flex; gap: 5px; flex-wrap: wrap">
                <div
                  style="
                    height: 15px;
                    width: 15px;
                    background: black;

                    border-radius: 2px;
                    cursor: pointer;
                  "
                  title="{{object.orderCnts[$index+1]}}"
                  ng-style="{background:+object.orderCnts[$index+1].substr(0,1)>=object.one?'green':'#d6dde4'}"
                  ng-repeat="day in object.orderDates"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-direction: column; gap: 10px">
        <div
          style="
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 1px solid lightgray;
            border-radius: 3px;
          "
        >
          <span style="font-weight: 900; opacity: 0.6"> Top Outlet Data </span>
          <span> {{object.topOutlet.name}} </span>
          <span style="font-weight: 900; opacity: 0.6"
            >Rs. {{object.topOutlet.totalRevenue}}
          </span>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 1px solid lightgray;
            border-radius: 3px;
          "
        >
          <span style="font-weight: 900; opacity: 0.6">
            Bottom Outlet Data
          </span>
          <span> {{object.bottomOutlet.name}} </span>
          <span style="font-weight: 900; opacity: 0.6"
            >Rs. {{object.bottomOutlet.totalRevenue}}
          </span>
        </div>
      </div>
    </div>

    <div
      style="
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid lightgray;
        border-radius: 3px;
        background: #fdfdfd;
        margin: 10px;
        padding: 10px;
        gap: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      "
    >
      <div class="row">
        <div style="min-width: 354px" class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <input
              type="text"
              style="margin-bottom: 10px"
              ng-model="search.name"
              placeholder="type outlet name"
              class="form-control"
            />
            <a
              class="list-group-item list-group-item-action"
              style="min-width: 200px"
              ng-repeat="outlet in object.outlets | filter:search"
            >
              <div class="analysis__brandList">
                <div
                  ng-click="fetchOutletGraphData(outlet._id,outlet.name)"
                  style="
                    display: flex;
                    cursor: pointer;
                    flex-wrap: wrap;
                    align-items: center;
                  "
                >
                  <div>
                    <img
                      style="object-fit: contain; height: 50px"
                      src="{{brand.logo}}"
                      slt="..."
                    />
                  </div>
                  <div>{{outlet.name}}</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div
        ng-show="!object.outletDates.length"
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid lightgray;
          border-radius: 3px;
          background: #fdfdfd;
          padding: 10px;
        "
      >
        <span style="font-weight: 900; opacity: 0.7">
          Select outlet from left to view chart
        </span>
      </div>

      <div
        style="
          border: 1px solid lightgray;
          border-radius: 3px;
          background: #fdfdfd;
          padding: 10px;
        "
        ng-show="object.outletDates.length>1"
      >
        <div style="width: 450px">
          <h3>Outlet Revenue Analysis</h3>
          <canvas id="myChart2" area-label="chart"></canvas>
        </div>
        <div style="display: flex; gap: 5px; flex-wrap: wrap">
          <!-- <h6>Orders Data :</h6> -->
          <div
            style="
              width: 174px;
              height: 74px;
              border: 1px solid lightgray;
              border-radius: 3px;
              background: #fdfdfd;
              padding: 10px;
            "
            ng-repeat="data in object.outletOrdersData"
          >
            <span> {{data._id}} </span>
            <span style="font-weight: 900; opacity: 0.7">
              Rs. {{data.totalRevenue}}
            </span>
          </div>
          <div
            style="
              width: 174px;
              height: 74px;
              border: 1px solid lightgray;
              border-radius: 3px;
              background: #fdfdfd;
              padding: 10px;
            "
          >
            <span style="font-weight: 900; opacity: 0.7; color: green">
              Success Rate:{{object.ordersAnalysis.successRate}}

              <i class="bx bx-up-arrow-alt"></i>
            </span>
          </div>
          <div
            style="
              width: 174px;
              height: 74px;
              border: 1px solid lightgray;
              border-radius: 3px;
              background: #fdfdfd;
              padding: 10px;
            "
          >
            <span style="font-weight: 900; opacity: 0.7; color: red">
              Cancellation Rate:{{object.ordersAnalysis.cancellationRate}}

              <i class="bx bx-down-arrow-alt"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      border: 1px solid lightgray;
      border-radius: 3px;
      background: #fdfdfd;
      margin: 10px;
      padding: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    "
  >
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <span
            style="
              width: 300px;
              font-weight: bolder;
              opacity: 0.6;
              margin-bottom: 10px;
            "
            >Top List Of Products</span
          >
          <a
            class="list-group-item list-group-item-action"
            style="min-width: 300px"
            ng-repeat="product in object.topTenProducts | filter:search"
          >
            <div class="analysis__brandList">
              <div
                ng-click="fetchOutletGraphData(outlet._id)"
                style="
                  display: flex;
                  cursor: pointer;
                  flex-wrap: wrap;
                  align-items: center;
                "
              >
                <div>
                  <img
                    style="object-fit: contain; height: 50px"
                    src="{{product.img}}"
                    slt="..."
                  />
                </div>
                <div>{{product._id}}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      border: 1px solid lightgray;
      border-radius: 3px;
      background: #fdfdfd;
      margin: 10px;
      padding: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    "
  >
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <span
            style="
              width: 300px;
              font-weight: bolder;
              opacity: 0.6;
              margin-bottom: 10px;
            "
            >Top List Of Categories</span
          >
          <a
            class="list-group-item list-group-item-action"
            style="min-width: 300px"
            ng-if="category._id"
            ng-repeat="category in object.topTenCategories | filter:search"
          >
            <div class="analysis__brandList">
              <div
                ng-click="fetchOutletGraphData(outlet._id)"
                style="
                  display: flex;
                  cursor: pointer;
                  flex-wrap: wrap;
                  align-items: center;
                "
              >
                <div>{{category._id}}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  ng-if="isLoading"
  class="loader"
  style="width: 100%; position: absolute; top: 0px; height: 100vh"
></div>
