<div class="spr__extDiv" ng-controller="brandCategoryController">
    <div style="height: 51px;">
        <nav class="spr__header">
            <div>
                <span>
                    logo
                </span>
            </div>
            <div>
                <span>
                    {{brandName}}
                </span>
            </div>
        </nav>
    </div>
    <div class="spr__mainDiv">

    <div class="spr__nav">
        <div ui-sref="brandadmin" class="nav">
            Home
        </div>
        <div  ui-sref="brandAdminOutlets" class="nav">
            Outlets
        </div>
        <div style="background-color: rgb(106, 106, 244);" ui-sref="brandCategory" class="nav">
          Categories
        </div>
        <div  ui-sref="brandAdminCategory" class="nav">
          Add Category
        </div>
    </div>
    <div style="width:77%;flex-direction: column;" class="spr__rightSide">
      <div>
        Categories
      </div>
      <div class="spr__brandCard" ui-sref="categoryProduct({id:category._id})" style="cursor: pointer;" ng-repeat="category in categories">
        <div>
            {{category.categoryName}}
            
        </div>
        
      </div>
      <!-- <div class="spr__productForm">
        <form name="productDetail" novalidate>
          <div class="form-group">
            <label for="productName" class="col-form-label">ProductName :</label>
            <input type="text" name="productName" ng-required="true" ng-minlength="3" ng-model="productproductName" class="form-control" >
            <span ng-show="productDetail.productName.$dirty && productDetail.productName.$error.minlength">Minimum 3 characters required</span>
            <span ng-show="productDetail.productName.$dirty && productDetail.productName.$error.required">Please fill this field</span>
          </div>
          <div class="form-group">
              <label for="description" class="col-form-label">Description :</label>
              <input type="text" name="description"  ng-minlength="0" ng-model="productdescription" class="form-control" >
              <span ng-show="productDetail.description.$dirty && productDetail.description.$error.minlength">Minimum 3 characters required</span>
          </div>
          
          <div class="form-group">
              <label for="price" class="col-form-label">Price :</label>
              <input type="number" name="price" ng-required="true" ng-pattern="/^[1-9]{1,5}$/"  ng-model="productprice" class="form-control" >
              <span ng-show="productDetail.price.$dirty && !productDetail.price.$error.required &&productDetail.price.$invalid">please enter correct price</span>
              <span ng-show="productDetail.price.$dirty && productDetail.price.$error.required">Please fill this field</span>
          </div>
          
          <div class="form-group">
            <label for="image" class="col-form-label">Image :</label>
            <input type="file"  name="image" ng-required="true" ng-model="product.img" id="image">
            
            <span ng-show="productDetail.image.$dirty && productDetail.image.$error.required">Please fill this field</span>
          </div>
          <div class="form-group">
            <button type="button" ng-disabled="BrandData.$invalid" ng-click="createBrand($event)" class="btn btn-primary">{{btnText}}</button>

          </div>
        </form>
      </div> -->
      
        <!-- <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create Brand</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Enter Brand Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form name="BrandData" novalidate>
                        <div class="form-group">
                          <label for="brandName" class="col-form-label">BrandName:</label>
                          <input type="text" name="brandName" ng-required="true" ng-minlength="3" ng-model="brand.name" class="form-control" id="brandName">
                          <span ng-show="BrandData.brandName.$dirty && BrandData.brandName.$error.minlength">Minimum 3 characters required</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" ng-disabled="BrandData.$invalid" ng-click="createBrand($event)" class="btn btn-primary">{{btnText}}</button>
                          </div>
                       
                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
        </div>
    </div> -->
    
    </div>
    </div>