<div
  ng-if="outlets"
  class="spr__rightSide"
  ng-controller="brandAdminOutletsController"
>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Outlet Name</th>
        <th scope="col">Outlet Admin</th>
        <th scope="col">Deactivate</th>
        <th scope="col">Activate</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer" ng-repeat="outlet in outlets">
        <td scope="row">{{$index}}</td>
        <td>{{outlet.outletName}}</td>
        <td>
          <div ng-if="!outlet.outletAdminId">
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModal"
              data-whatever="@mdo"
            >
              Add admin
            </button>
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Enter Admin Details
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form name="adminData" novalidate>
                      <div class="form-group">
                        <label for="userName" class="col-form-label"
                          >UserName :</label
                        >
                        <input
                          type="text"
                          name="userName"
                          ng-required="true"
                          ng-minlength="3"
                          ng-model="admin.userName"
                          class="form-control"
                        />
                        <span
                          ng-show="adminData.userName.$dirty && adminData.userName.$error.minlength"
                          >Minimum 3 characters required</span
                        >
                        <span
                          ng-show="adminData.userName.$dirty && adminData.userName.$error.required"
                          >Please fill this field</span
                        >
                      </div>
                      <div class="form-group">
                        <label for="firstName" class="col-form-label"
                          >FirstName :</label
                        >
                        <input
                          type="text"
                          name="firstName"
                          ng-required="true"
                          ng-minlength="3"
                          ng-model="admin.firstName"
                          class="form-control"
                        />
                        <span
                          ng-show="adminData.firstName.$dirty && adminData.firstName.$error.minlength"
                          >Minimum 3 characters required</span
                        >
                        <span
                          ng-show="adminData.firstName.$dirty && adminData.firstName.$error.required"
                          >Please fill this field</span
                        >
                      </div>
                      <div class="form-group">
                        <label for="lastName" class="col-form-label"
                          >LastName :</label
                        >
                        <input
                          type="text"
                          name="lastName"
                          ng-minlength="0"
                          ng-model="admin.lastName"
                          class="form-control"
                        />
                        <span
                          ng-show="adminData.lastName.$dirty && adminData.lastName.$error.minlength"
                          >Minimum 3 characters required</span
                        >
                        <!-- <span ng-show="adminData.lastName.$dirty && adminData.lastName.$error.required">Please fill this field</span> -->
                      </div>
                      <div class="form-group">
                        <label for="email" class="col-form-label"
                          >Email :</label
                        >
                        <input
                          type="email"
                          name="email"
                          ng-required="true"
                          ng-pattern="/^([a-z A-Z 0-9\.-]+)@([0-9 a-z A-Z -]+).([a-z]{2,8})(.[a-z{2,4}])?$/"
                          ng-model="admin.email"
                          class="form-control"
                        />
                        <span
                          ng-show="adminData.email.$dirty && !adminData.email.$error.required && adminData.email.$invalid"
                          >Please enter correct email</span
                        >
                        <span
                          ng-show="adminData.email.$dirty && adminData.email.$error.required"
                          >Please fill this field</span
                        >
                      </div>
                      <div class="form-group">
                        <label for="number" class="col-form-label"
                          >Phone Number :</label
                        >
                        <input
                          type="number"
                          name="number"
                          ng-required="true"
                          ng-pattern="/^\d{10}$/"
                          ng-model="admin.number"
                          class="form-control"
                        />
                        <span
                          ng-show="adminData.number.$dirty && adminData.number.$invalid"
                          >please enter correct number</span
                        >
                        <span
                          ng-show="adminData.number.$dirty && adminData.number.$error.required"
                          >Please fill this field</span
                        >
                      </div>
                      <div class="form-group">
                        <label for="password" class="col-form-label"
                          >Password :</label
                        >
                        <input
                          type="password"
                          name="password"
                          ng-required="true"
                          ng-minlength="5"
                          ng-maxlength="8"
                          ng-model="admin.password"
                          class="form-control"
                        />
                        <span
                          ng-show="adminData.password.$dirty && (adminData.password.$error.minlength || adminData.password.$error.maxlength)"
                          >Minimum 5-8 characters required</span
                        >
                        <span
                          ng-show="adminData.password.$dirty && adminData.password.$error.required"
                          >Please fill this field</span
                        >
                      </div>
                      <div class="form-group">
                        <label for="cpassword" class="col-form-label"
                          >Confirm Password :</label
                        >
                        <input
                          type="password"
                          ng-disabled="!admin.password"
                          name="cpassword"
                          ng-required="true"
                          ng-minlength="5"
                          ng-maxlength="8"
                          ng-model="admin.cpassword"
                          class="form-control"
                        />
                        <!-- <span ng-show="adminData.cpassword.$dirty && (adminData.cpassword.$error.minlength || adminData.cpassword.$error.maxlength)">Minimum 5-8 characters required</span> -->
                        <span
                          ng-show="adminData.cpassword.$dirty && adminData.cpassword.$error.required"
                          >Please fill this field</span
                        >
                        <span
                          ng-show="adminData.cpassword.$dirty && !(adminData.cpassword.$error.required) && admin.password && admin.password!=admin.cpassword"
                          >confirm password is not matching password</span
                        >
                        <!-- <span ng-show=""></span> -->
                      </div>

                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          type="submit"
                          ng-disabled="adminData.$invalid"
                          ng-click="createOutletAdmin($event,outlet._id)"
                          class="btn btn-primary"
                        >
                          {{btnText}}
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            ui-sref="updateOutletAdmin({id:outlet.outletAdminId})"
            ng-if="outlet.outletAdminId"
          >
            <button type="button" class="btn btn-primary">Update Admin</button>
          </div>
        </td>
        <td><button type="button" class="btn btn-warning">Disable</button></td>
        <td><button type="button" class="btn btn-warning">Activate</button></td>
        <td><button type="button" class="btn btn-secondary">Delete</button></td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal1"
            ng-click="setOutletData(outlet)"
            data-whatever="@mdo"
          >
            Update Outlet
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div
    class="modal fade"
    id="exampleModal1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="OutletData" novalidate>
            <div class="form-group">
              <label for="outletName" class="col-form-label">OutletName:</label>
              <!-- {{updateOutletData}} -->
              <input
                type="text"
                name="outletName"
                ng-required="true"
                ng-minlength="3"
                ng-model="newData.outletName"
                class="form-control"
              />
              <span
                ng-show="OutletData.outletName.$dirty && OutletData.outletName.$error.minlength"
                >Minimum 3 characters required</span
              >
            </div>
            <div class="form-group">
              <label for="outletPinCode" class="col-form-label"
                >Outlet PinCode:</label
              >
              <input
                type="number"
                name="outletPinCode"
                ng-required="true"
                ng-minlength="6"
                ng-maxlength="6"
                ng-model="newData.outletPinCode "
                class="form-control"
              />
              <span
                ng-show="OutletData.outletPinCode.$dirty && OutletData.outletPinCode.$error.minlength && OutletData.outletPinCode.$error.maxlength"
                >6 characters required</span
              >
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                ng-disabled="OutletData.$invalid"
                ng-click="updateOutlet($event)"
                class="btn btn-primary"
              >
                update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
