<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Handle</th>
        <th scope="col">User Type</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in object.users">
        <th scope="row">{{$index+1}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.userType}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <nav
    style="display: flex; align-items: center; justify-content: center"
    aria-label="Page navigation example"
  >
    <ul style="display: flex; gap: 4px" class="pagination justify-content-end">
      <button
        class="page-item btn"
        ng-click="getOutletHandler(object.page-1,object.limit)"
        ng-disabled="object.page===object.one"
        ng-class="{'disabled':object.page===1}"
      >
        <a class="page-link">Previous</a>
      </button>
      <button
        class="page-item btn"
        ng-click="getUserHandler($index+1,object.limit)"
        ng-disabled="$index+1===object.page"
        ng-class="{'disabled':$index+1===object.page}"
        ng-repeat="page in object.pages track by $index"
      >
        <a class="page-link">{{$index+1}}</a>
      </button>

      <button
        ng-click="getUserHandler(object.page+1,object.limit)"
        ng-disabled="object.page===object.totalPage"
        ng-class="{'disabled':object.page===object.totalPage}"
        class="page-item btn"
      >
        <a class="page-link">Next</a>
      </button>
    </ul>
  </nav>
</div>
