<div class="spr__extDiv" ng-controller="brandAdminController">
    <div style="height: 51px;">
        <nav class="spr__header">
            <div>
                <span>
                    logo
                </span>
            </div>
            <div>
                <span>
                    {{brandName}}
                </span>
            </div>
        </nav>
    </div>
    <div class="spr__mainDiv">

    <div class="spr__nav">
        <div ui-sref="brandadmin.home" ui-sref-active="active" class="nav">
            Home
        </div>
        <div ui-sref-active="active"  ui-sref="brandadmin.outlets" class="nav">
            Outlets
        </div>
        <div ui-sref="brandadmin.brandCategory" ui-sref-active="active" class="nav">
          Categories
        </div>
        <div ui-sref="brandadmin.brandAdminCategory" ui-sref-active="active" class="nav">
          Add Category
        </div>
        <div ui-sref="brandadmin.setting({id:brandId})" ui-sref-active="active" class="nav">
          Setting
        </div>
    </div>
    <div class="spr__rightSide" ui-view >
        
</div>
</div>