<div
  style="
    display: flex;
    height: 100vh;
    width: 100vw;

    flex-direction: column;
  "
  ng-class="{'dim':isLoading}"
>
  <div style="padding: 20px" ng-if="object.categories.length">
    <div>
      <h3>Categories</h3>
    </div>
    <div style="display: flex; flex-wrap: wrap">
      <div class="spr__brandCard" ng-repeat="category in object.categories">
        <div
          style="
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
          "
        >
          <div>
            <img
              src="{{category.logo}}"
              style="object-fit: contain; height: 80px"
              alt="..."
            />
          </div>
          <div>{{category.name}}</div>
        </div>
        <div style="cursor: pointer">
          <i
            ng-click="setData(category)"
            data-toggle="modal"
            data-target="#exampleModal"
            data-whatever="@mdo"
            class="fas fa-edit"
          ></i>
        </div>
        <div
          style="
            cursor: pointer;
            padding: 5px;
            opacity: 0.8;
            border: 1px solid lightgray;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
          "
          ui-sref="brandadmin.categoryProduct({id:category._id,name:category.name})"
          style="cursor: pointer"
        >
          <span>Add/show products</span>
        </div>
      </div>
    </div>
  </div>

  <div style="padding: 20px">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal1"
      data-whatever="@mdo"
    >
      Add Sub Category
    </button>
  </div>
</div>
<div
  ng-if="isLoading"
  class="loader"
  style="
    width: 100%;
    position: absolute;
    top: 141px;
    height: -webkit-fill-available;
    opacity: 0.5;
  "
></div>
<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Enter Category Details
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="categoryData" novalidate>
          <div class="form-group">
            <label for="categoryName" class="col-form-label"
              >Category Name:</label
            >
            <input
              type="text"
              name="categoryName"
              ng-required="true"
              ng-minlength="3"
              ng-model="category1.name"
              class="form-control"
            />
            <span
              style="color: red"
              ng-show="categoryData.categoryName.$dirty && categoryData.categoryName.$error.minlength"
              >Minimum 3 characters required</span
            >
          </div>
          <div class="form-group">
            <label for="logo" class="col-form-label">Logo (optional):</label>
            <input
              type="file"
              name="logo"
              file-model="category1.logo"
              id="logo"
              required
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              ng-click="addCategory($event)"
              class="btn btn-primary"
            >
              {{btnText}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Enter Category Details
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="categoryData" novalidate>
          <div class="form-group">
            <label for="name" class="col-form-label">Category Name:</label>
            <input
              type="text"
              name="name"
              ng-required="true"
              ng-minlength="3"
              ng-model="category.name"
              class="form-control"
            />
            <span
              ng-show="categoryData.name.$dirty && categoryData.name.$error.minlength"
              >Minimum 3 characters required</span
            >
          </div>
          <div class="form-group">
            <label for="logo" class="col-form-label">Logo (optional):</label>
            <input
              type="file"
              name="logo"
              file-model="category.logo"
              id="logo"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              ng-disabled="categoryData.$invalid"
              ng-click="updateCategory($event)"
              class="btn btn-primary"
            >
              update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
