<div class="spr__extDiv" ng-controller="deleteController">
    <div class="spr__mainDiv">
    <div class="spr__nav">
        <div ui-sref="setting({id:adminId})"  class="nav">
           Edit Brand
        </div>
        <div  ui-sref="updateSelf({id:adminId})" class="nav">
           Edit Profile
        </div>
        <div ui-sref="changePassword({id:adminId})"  class="nav">
            Change Password
        </div>
        <div ui-sref="delete({id:adminId})" style="background-color: rgb(106, 106, 244)" class="nav">
            Delete 
        </div>
    </div>
    </div>
<div class="spr__rightSide">
    <div>
        
        
    </div>
</div>
</div>
    