<div
  ng-class="{'dim':isLoading}"
  style="display: flex; flex-wrap: wrap; gap: 10px"
>
  <div>
    <div id="container1">
      <div class="box">
        <div class="subBox">
          <p><i title="Products" class="bx bx-building"></i></p>
          <span> Total Products </span>
          <p style="font-weight: 900; opacity: 0.7" id="upComingData">
            {{object.totalProduct}}
          </p>
        </div>
      </div>
      <div class="box">
        <div class="subBox">
          <p>
            <i title="employees" class="fa fa-users" aria-hidden="true"></i>
          </p>
          <span> Total Employees </span>
          <p style="font-weight: 900; opacity: 0.7" id="noOfCustomer">
            {{object.totalEmployees}}
          </p>
        </div>
      </div>
      <div class="box">
        <div class="subBox">
          <p><i title="Total Revenue" class="bx bx-cart"></i></p>
          <span> Total Revenue </span>
          <p style="font-weight: 900; opacity: 0.7" id="totalPay">
            Rs. {{object.totalRevenue}}
          </p>
        </div>
      </div>
      <div class="box">
        <div style="display: flex; flex-direction: column" class="subBox">
          <span style="font-weight: 900; opacity: 0.7"> Orders Analysis </span>
          <span>
            Success Rate :
            <span
              >{{object.ordersAnalysis.successRate}}
              <i
                style="font-weight: 900; opacity: 0.7; color: green"
                class="bx bx-up-arrow-alt"
              ></i
            ></span>
          </span>

          <span>
            Cancellation Rate :
            <span>
              {{object.ordersAnalysis.cancellationRate}}
              <i
                style="font-weight: 900; opacity: 0.7; color: red"
                class="bx bx-down-arrow-alt"
              ></i>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border: 1px solid lightgray;
      border-radius: 3px;
      background: #fdfdfd;
      margin: 10px;
      padding: 10px;
      width: 100%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    "
  >
    <div
      style="
        width: 500px;
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
      "
      ng-show="object.outletDates.length>1"
    >
      <div style="display: flex; gap: 5px; justify-content: space-between">
        <span>
          Outlet Graph Analysis :
          <span style="font-weight: 900; opacity: 0.7"
            >{{object.months[object.month1]}}</span
          >
        </span>
        <div class="dropdown show">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Select Month
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a
              class="dropdown-item"
              style="cursor: pointer"
              ng-repeat="month in object.months"
              ng-click="getGraphData($index)"
              >{{month}}</a
            >
          </div>
        </div>
        <div>
          <i ng-click="decreaseYear1()" class="bx bxs-left-arrow"></i>
          <span> {{object.currentYear1}} </span>
          <i ng-click="increaseYear1()" class="bx bxs-right-arrow"></i>
        </div>
      </div>
      <canvas id="myChart" area-label="chart"></canvas>
    </div>

    <div
      style="
        width: 460px;
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
      "
    >
      <div style="display: flex; justify-content: space-between">
        <span>
          Outlet Activity :
          <span style="font-weight: 900; opacity: 0.7"
            >{{object.months[object.month]}}</span
          >
        </span>
        <div class="dropdown show">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Select Month
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a
              class="dropdown-item"
              style="cursor: pointer"
              ng-repeat="month in object.months"
              ng-click="getOrderActivity($index)"
              >{{month}}</a
            >
          </div>
        </div>
        <div>
          <i ng-click="decreaseYear2()" class="bx bxs-left-arrow"></i>
          <span> {{object.currentYear2}} </span>
          <i ng-click="increaseYear2()" class="bx bxs-right-arrow"></i>
        </div>
      </div>

      <div
        style="
          width: 222px;
          height: 133px;
          padding: 10px;
          border: 1px solid lightgray;
          margin: 10px;
          border-radius: 3px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        "
      >
        <div style="display: flex; gap: 5px; flex-wrap: wrap">
          <div
            style="
              height: 15px;
              width: 15px;
              background: black;

              border-radius: 2px;
              cursor: pointer;
            "
            title="{{object.orderCnts[$index+1]}}"
            ng-style="{background:+object.orderCnts[$index+1].substr(0,1)>=object.one?'green':'#d6dde4'}"
            ng-repeat="day in object.orderDates"
          ></div>
        </div>
      </div>
      <div style="display: flex; gap: 5px">
        <div
          style="
            width: 174px;
            height: 74px;
            border: 1px solid lightgray;
            border-radius: 3px;
            background: #fdfdfd;
            padding: 10px;
          "
          ng-repeat="res in object.orderTypeAnalysis"
        >
          <span> {{res._id}}: </span>
          <span style="font-weight: 900; opacity: 0.7"> {{res.count}} </span>
        </div>
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      gap: 10px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid lightgray;
      margin: 10px;
      border-radius: 3px;
    "
  >
    <div
      style="
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
      "
    >
      <div style="margin-right: 10px">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <span
                style="
                  width: 300px;
                  font-weight: bolder;
                  opacity: 0.6;
                  margin-bottom: 10px;
                "
                >Top List Of Products</span
              >
              <a
                class="list-group-item list-group-item-action"
                style="min-width: 300px"
                ng-repeat="product in object.topTenProducts "
              >
                <div class="analysis__brandList">
                  <div
                    style="
                      display: flex;
                      cursor: pointer;
                      flex-wrap: wrap;
                      align-items: center;
                    "
                  >
                    <div style="width: 100px; text-align: center">
                      <img
                        style="object-fit: contain; height: 50px"
                        src="{{product.img}}"
                        slt="..."
                      />
                    </div>
                    <div>{{product.productName}}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
      "
    >
      <div style="margin-right: 10px">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <span
                style="
                  width: 300px;
                  font-weight: bolder;
                  opacity: 0.6;
                  margin-bottom: 10px;
                "
                >Bottom List Of Products</span
              >
              <a
                class="list-group-item list-group-item-action"
                style="min-width: 300px"
                ng-repeat="product in object.bottomProducts "
              >
                <div class="analysis__brandList">
                  <div
                    style="
                      display: flex;
                      cursor: pointer;
                      flex-wrap: wrap;
                      align-items: center;
                    "
                  >
                    <div style="width: 100px; text-align: center">
                      <img
                        style="object-fit: contain; height: 50px"
                        src="{{product.img}}"
                        slt="..."
                      />
                    </div>
                    <div>{{product.productName}}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
      "
    >
      <div style="margin-right: 10px">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <span
                style="
                  width: 300px;
                  font-weight: bolder;
                  opacity: 0.6;
                  margin-bottom: 10px;
                "
                >Previous Week Top Products</span
              >
              <a
                class="list-group-item list-group-item-action"
                style="min-width: 300px"
                ng-repeat="res in object.topWeekProducts "
              >
                <div class="analysis__brandList">
                  <div
                    style="
                      display: flex;
                      cursor: pointer;
                      flex-wrap: wrap;
                      align-items: center;
                    "
                  >
                    <div style="width: 100px; text-align: center">
                      <img
                        style="object-fit: contain; height: 50px"
                        src="{{res.product.img}}"
                        slt="..."
                      />
                    </div>
                    <div>{{res.product.name}}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
      "
    >
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <span
              style="
                width: 300px;
                font-weight: bolder;
                opacity: 0.6;
                margin-bottom: 10px;
              "
              >Top List Of Categories</span
            >
            <a
              class="list-group-item list-group-item-action"
              style="min-width: 300px"
              ng-if="category.categoryName"
              ng-repeat="category in object.topTenCategories "
            >
              <div class="analysis__brandList">
                <div
                  style="
                    display: flex;
                    cursor: pointer;
                    flex-wrap: wrap;
                    align-items: center;
                  "
                >
                  <div>{{category.categoryName}}</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      style="
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
      "
    >
      <div style="margin-right: 10px">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <span
                style="
                  width: 300px;
                  font-weight: bolder;
                  opacity: 0.6;
                  margin-bottom: 10px;
                "
                >Top List Of Customers</span
              >
              <a
                class="list-group-item list-group-item-action"
                style="min-width: 300px"
                ng-repeat="res in object.topCustomer "
              >
                <div class="analysis__brandList">
                  <div
                    style="
                      display: flex;
                      cursor: pointer;
                      flex-wrap: wrap;
                      align-items: center;
                    "
                  >
                    <div style="width: 100px; text-align: center">
                      <span>{{res.customer.name}}</span>
                    </div>
                    <div>{{res.customer.number}}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  ng-if="isLoading"
  class="loader"
  style="
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
    opacity: 0.5;
  "
></div>
