<div ng-class="{'dim':isLoading}" style="width: 100%">
  <!-- <div style="margin-bottom: 15px">
    <div class="mt-3 inputs">
      <i class="fa fa-search"></i>
      <input
        type="text"
        ng-model="object.searchUser"
        ng-change="searchTextHandler()"
        class="form-control1 form-control"
        placeholder="Search user by user name"
      />
    </div>
    <div
      style="
        position: absolute;
        max-height: 325px;
        overflow-y: scroll;
        z-index: 2;
        width: 400px;
        box-shadow: #fffe 0px 0px 0px 1px;
        background-color: #eee8e8;
      "
      ng-if="object.searchTextResult.length!==0"
    >
      <div class="list-group">
        <a
          style="cursor: pointer; background: #ededed"
          ng-repeat="res in object.searchTextResult"
          class="list-group-item list-group-item-action"
          ng-click="setSearchResult(res)"
        >
          <div style="display: flex; align-items: center; gap: 20px">
            <div>
              <span>{{res.userName}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div> -->
  <form name="filter" novalidate>
    <div
      style="
        display: flex;
        justify-content: center;
        padding: 10px;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
      "
    >
      <div>
        <select class="form-control" ng-model="object.filter.userType">
          <option value="outletAdmin">Outlet Admin</option>
          <option value="outletAgent">Outlet Agent</option>
          <option value="">None</option>
        </select>
      </div>
      <div>
        <input
          class="form-control"
          type="number"
          ng-pattern="/^\d{10}$/"
          name="number"
          placeholder="enter number"
          ng-model="object.filter.number"
        />
        <span
          style="color: red"
          ng-show="filter.number.$dirty && filter.number.$invalid"
          >please enter correct number</span
        >
      </div>
      <div>
        <input
          class="form-control"
          type="email"
          ng-pattern="/^([a-z A-Z 0-9\.-]+)@([0-9 a-z A-Z -]+).([a-z]{2,8})(.[a-z{2,4}])?$/"
          placeholder="enter email"
          name="email"
          ng-model="object.filter.email"
        />
        <span
          style="color: red"
          ng-show="filter.email.$dirty && filter.email.$invalid"
          >Please enter correct email</span
        >
      </div>
      <button
        type="submit"
        class="btn"
        style="cursor: pointer"
        ng-click="getUserHandler(1,object.limit)"
      >
        <i class="bx bx-filter-alt"></i>
      </button>
    </div>
  </form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Number</th>
        <th scope="col">Handle</th>
        <th scope="col">User Type</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in object.users">
        <th scope="row">{{(object.page-1)*object.limit+$index+1}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.number}}</td>
        <td>{{user.email}}</td>
        <td>{{user.userType}}</td>
      </tr>
    </tbody>
  </table>
  <div ng-if="!object.selectedUser">
    <nav
      style="display: flex; align-items: center; justify-content: center"
      aria-label="Page navigation example"
    >
      <ul
        style="display: flex; gap: 4px"
        class="pagination justify-content-end"
      >
        <button
          class="page-item btn"
          ng-click="getUserHandler(object.page-1,object.limit)"
          ng-disabled="object.page===object.one"
          ng-class="{'disabled':object.page===1}"
        >
          <a class="page-link">Previous</a>
        </button>
        <button
          class="page-item btn"
          ng-click="getUserHandler($index+1,object.limit)"
          ng-disabled="$index+1===object.page"
          ng-class="{'disabled':$index+1===object.page}"
          ng-repeat="page in object.pages track by $index"
        >
          <a class="page-link">{{$index+1}}</a>
        </button>

        <button
          ng-click="getUserHandler(object.page+1,object.limit)"
          ng-disabled="object.page===object.totalPage"
          ng-class="{'disabled':object.page===object.totalPage}"
          class="page-item btn"
        >
          <a class="page-link">Next</a>
        </button>
      </ul>
    </nav>
  </div>
</div>
<div
  ng-if="isLoading"
  class="loader"
  style="width: 100%; height: -webkit-fill-available; position: absolute"
></div>
