<div class="setting__container">
  <div class="setting__extDiv">
    <div class="setting__taxForm">
      <caption>
        Add Tax Fields
      </caption>
      <form name="taxForm" novalidate>
        <div class="form-group">
          <label for="name">Tax Name</label>
          <input
            type="text"
            ng-model="object.tax.name"
            required
            class="form-control"
            id="name"
            placeholder="tax name"
          />
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="percent">Percent</label>
          <input
            type="number"
            required
            class="form-control"
            ng-model="object.tax.percent"
            id="percent"
            placeholder="enter %"
          />
        </div>

        <button
          type="submit"
          ng-click="addTax()"
          ng-disabled="taxForm.$invalid"
          class="btn btn-secondary"
        >
          Add
        </button>
      </form>
    </div>
    <div class="setting__taxList">
      <caption>
        Tax Lists
      </caption>
      <ul ng-if="object.taxes" class="list-group">
        <li
          style="display: flex; gap: 100px"
          class="list-group-item"
          ng-repeat="tax in object.taxes"
        >
          <div>{{tax.name}}</div>
          <div>{{tax.percent}}</div>
          <div style="display: flex; gap: 5px">
            <div>
              <i title="remove tax" class="bx bx-minus"></i>
            </div>
            <div>
              <i title="edit tax" class="bx bx-edit-alt"></i>
            </div>
          </div>
        </li>
      </ul>
      <span ng-if="objext.taxes.length==0"> No taxes included yet </span>
    </div>
  </div>
  <div class="setting__extDiv">
    <div
      style="
        padding: 20px;
        box-shadow: lightgray 0px 0px 0px 1px;
        width: 40%;
        min-width: 370px;
      "
    >
      <caption>
        Add Table Information for dine-in
      </caption>
      <form name="tableForm" novalidate>
        <div class="form-group">
          <label for="tableNumber">Table Number</label>
          <input
            type="number"
            ng-model="object.table.number"
            required
            class="form-control"
            id="tableNumber"
            placeholder="table number"
          />
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="capacity">capacity</label>
          <input
            type="number"
            required
            class="form-control"
            ng-model="object.table.capacity"
            id="capacity"
            placeholder="enter capacity"
          />
        </div>

        <button
          type="submit"
          ng-click="addTableData()"
          ng-disabled="tableForm.$invalid"
          class="btn btn-secondary"
        >
          Add
        </button>
      </form>
    </div>
    <div class="setting__tableView">
      <caption>
        Display Table View
      </caption>
      <div style="display: flex; flex-wrap: wrap; gap: 7px">
        <div class="setting__table" ng-repeat="table in object.tables">
          <div style="width: 100%; padding: 10px">
            <p>{{object.table.number}}</p>

            <p style="text-align: center">{{object.table.capacity}}</p>
          </div>
        </div>
      </div>
      <span ng-if="object.addingTables.length>0">
        <button ng-click="saveTableView()" class="btn btn-secondary">
          Save
        </button>
      </span>
    </div>
  </div>
</div>
