<div class="spr__extDiv" ng-controller="outletAdminController">
    <div style="height: 51px;">
        <nav class="spr__header">
            <div>
                <span>
                    <img style="object-fit: contain;
                        height: 36px;"
                        src={{brandLogo}}
                        alt="...">
                </span>
            </div>
            <div>
                <span>
                    {{outletName}}
                </span>
            </div>
        </nav>
    </div>
    <div class="spr__mainDiv">
    <div class="spr__nav">
        <div ui-sref="outletAdmin.products" ui-sref-active="active"  class="nav">
           Products
        </div>
        <div ui-sref-active="active" ui-sref="outletAdmin.outletBrandProducts({id:brandId})" class="nav">
           Add Products
        </div>
        <div ui-sref-active="active" ui-sref="outletAdmin.employee" class="nav">
           Add Employee
        </div>
        <div ui-sref-active="active" ui-sref="outletAdmin.setting" class="nav">
            setting 
        </div>
    </div>
    <div class="spr__rightSide">
        <ui-view></ui-view>
    </div>
    </div>
    
</div>
    