<div ng-controller="outletEmployeeFormController">
    <div>
                        
        <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create Employee(Agent)</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Enter Agent Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form name="agentData" novalidate>
                    <div class="form-group">
                      <label for="userName" class="col-form-label">UserName :</label>
                      <input type="text" name="userName" ng-required="true" ng-minlength="3" ng-model="agent.userName" class="form-control" >
                      <span ng-show="agentData.userName.$dirty && agentData.userName.$error.minlength">Minimum 3 characters required</span>
                      <span ng-show="agentData.userName.$dirty && agentData.userName.$error.required">Please fill this field</span>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-form-label">FirstName :</label>
                        <input type="text" name="firstName" ng-required="true" ng-minlength="3" ng-model="agent.firstName" class="form-control" >
                        <span ng-show="agentData.firstName.$dirty && agentData.firstName.$error.minlength">Minimum 3 characters required</span>
                        <span ng-show="agentData.firstName.$dirty && agentData.firstName.$error.required">Please fill this field</span>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-form-label">LastName :</label>
                        <input type="text" name="lastName"  ng-minlength="0" ng-model="agent.lastName" class="form-control" >
                        <span ng-show="agentData.lastName.$dirty && agentData.lastName.$error.minlength">Minimum 3 characters required</span>
                        <!-- <span ng-show="agentData.lastName.$dirty && agentData.lastName.$error.required">Please fill this field</span> -->
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email :</label>
                        <input type="email" name="email" ng-required="true" ng-pattern="/^([a-z A-Z 0-9\.-]+)@([0-9 a-z A-Z -]+).([a-z]{2,8})(.[a-z{2,4}])?$/" ng-model="agent.email" class="form-control" >
                        <span ng-show="agentData.email.$dirty && !agentData.email.$error.required && agentData.email.$invalid">Please enter correct email</span>
                        <span ng-show="agentData.email.$dirty && agentData.email.$error.required">Please fill this field</span>
                    </div>
                    <div class="form-group">
                        <label for="number" class="col-form-label">Phone Number :</label>
                        <input type="number" name="number" ng-required="true" ng-pattern="/^\d{10}$/"  ng-model="agent.number" class="form-control" >
                        <span ng-show="agentData.number.$dirty && agentData.number.$invalid">please enter correct number</span>
                        <span ng-show="agentData.number.$dirty && agentData.number.$error.required">Please fill this field</span>
                    </div>
                    <div class="form-group">
                      <label for="address" class="col-form-label">Address :</label>
                      <input type="text" name="address" ng-required="true"  ng-model="agent.address" class="form-control" id="address">
                      <span ng-show="agentData.address.$dirty && agentData.address.$error.required">Please fill this field</span>
                    </div>
                    <div class="form-group">
                      <label for="city" class="col-form-label">City :</label>
                      <input type="text" name="city" ng-required="true" ng-minlength="3" ng-model="agent.city" class="form-control" id="city">
                      <span ng-show="agentData.city.$dirty && agentData.city.$error.minlength">Please fill this field</span>
                    </div>
                    <div class="form-group">
                        <label for="outletPinCode" class="col-form-label">Outlet PinCode:</label>
                        <input type="number" name="outletPinCode" ng-required="true" ng-minlength="6" ng-maxlength="6" ng-model="agent.pinCode" class="form-control" >
                        <span ng-show="agentData.outletPinCode.$dirty && agentData.outletPinCode.$error.minlength && agentData.outletPinCode.$error.maxlength">6 characters required</span>
                      </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password :</label>
                        <input type="password" name="password" ng-required="true" ng-minlength="5" ng-maxlength="8" ng-model="agent.password" class="form-control" >
                        <span ng-show="agentData.password.$dirty && (agentData.password.$error.minlength || agentData.password.$error.maxlength)">Minimum 5-8 characters required</span>
                        <span ng-show="agentData.password.$dirty && agentData.password.$error.required">Please fill this field</span>
                    </div>
                    <div class="form-group">
                        <label for="cpassword" class="col-form-label">Confirm Password :</label>
                        <input type="password" ng-disabled="!agent.password" name="cpassword" ng-required="true" ng-minlength="5" ng-maxlength="8" ng-model="agent.cpassword" class="form-control" >
                        <!-- <span ng-show="agentData.cpassword.$dirty && (agentData.cpassword.$error.minlength || agentData.cpassword.$error.maxlength)">Minimum 5-8 characters required</span> -->
                        <span ng-show="agentData.cpassword.$dirty && agentData.cpassword.$error.required">Please fill this field</span>
                        <span ng-show="agentData.cpassword.$dirty && !(agentData.cpassword.$error.required) && agent.password && agent.password!=agent.cpassword">confirm password is not matching password</span>
                        <!-- <span ng-show=""></span> -->
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="agentData.$invalid"  ng-click="createOutletAgent($event)" class="btn btn-primary">{{btnText}}</button>
                    </div>
                      
                  </form>
                </div>
                
              </div>
            </div>
          </div>
    </div>
</div>