<div
  ng-class="{'dim':object.isLoading}"
  style="display: flex; flex-wrap: wrap; gap: 10px"
>
  <div>
    <div id="container1">
      <div class="box">
        <div class="subBox">
          <p><i title="Products" class="bx bx-building"></i></p>
          <span> Total Products </span>
          <p id="upComingData">{{object.totalProduct}}</p>
        </div>
      </div>
      <div class="box">
        <div class="subBox">
          <p>
            <i title="employees" class="fa fa-users" aria-hidden="true"></i>
          </p>
          <span> Total Employees </span>
          <p id="noOfCustomer">{{object.totalEmployees}}</p>
        </div>
      </div>
      <div class="box">
        <div class="subBox">
          <p><i title="Total Revenue" class="bx bx-cart"></i></p>
          <span> Total Revenue </span>
          <p id="totalPay">Rs. {{object.totalRevenue}}</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="object.outletDates.length>1">
    <h3>Outlet Last Month Revenue Analysis</h3>
    <canvas id="myChart" area-label="chart"></canvas>
  </div>
  <div
    style="
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    "
  >
    <div>
      <div style="margin-right: 10px">
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <span
                style="
                  width: 300px;
                  font-weight: bolder;
                  opacity: 0.6;
                  margin-bottom: 10px;
                "
                >Top List Of Products</span
              >
              <a
                class="list-group-item list-group-item-action"
                style="min-width: 300px"
                ng-repeat="product in object.topTenProducts "
              >
                <div class="analysis__brandList">
                  <div
                    style="
                      display: flex;
                      cursor: pointer;
                      flex-wrap: wrap;
                      align-items: center;
                    "
                  >
                    <div style="width: 100px; text-align: center">
                      <img
                        style="object-fit: contain; height: 50px"
                        src="{{product.img}}"
                        slt="..."
                      />
                    </div>
                    <div>{{product.productName}}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <span
              style="
                width: 300px;
                font-weight: bolder;
                opacity: 0.6;
                margin-bottom: 10px;
              "
              >Top List Of Categories</span
            >
            <a
              class="list-group-item list-group-item-action"
              style="min-width: 300px"
              ng-repeat="category in object.topTenCategories "
            >
              <div class="analysis__brandList">
                <div
                  style="
                    display: flex;
                    cursor: pointer;
                    flex-wrap: wrap;
                    align-items: center;
                  "
                >
                  <div>{{category.categoryName}}</div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  ng-if="object.isLoading"
  class="loader"
  style="
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
    opacity: 0.5;
  "
></div>
