<div ng-class="{'dim':object.isLoading}" class="order__extDiv">
  <div
    style="
      display: flex;
      padding-top: 20px;
      background: #f5f5f5;
      border-radius: 2px;
      padding: 10px;
      width: 100%;
      align-items: center;
      justify-content: center;
    "
  >
    <ul class="nav justify-content-center" style="display: contents">
      <li class="nav-item">
        <a
          class="nav-link"
          ng-class="{'active':object.filter.status==='pending'}"
          ng-click="setFilter('pending')"
          >Pending</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          ng-class="{'active':object.filter.status==='preparing'}"
          ng-click="setFilter('preparing')"
          >Preparing</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          ng-class="{'active':object.filter.status==='serving'}"
          ng-click="setFilter('serving')"
          >Serving</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          ng-class="{'active':object.filter.status==='served'}"
          ng-click="setFilter('served')"
          >Seved</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          ng-class="{'active':object.filter.status==='completed'}"
          ng-click="setFilter('completed')"
          >completed</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          ng-class="{'active':object.filter.status==='cancelled'}"
          ng-click="setFilter('cancelled')"
          >Cancelled</a
        >
      </li>
    </ul>
  </div>

  <div style="display: flex; padding-top: 20px">
    <ul class="nav justify-content-center" style="display: contents">
      <li class="nav-item">
        <a
          class="nav-link"
          ng-class="{'active':object.filter.type==='dine-in'}"
          ng-click="setType('dine-in')"
          >Dine-in</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          ng-class="{'active':object.filter.type==='take-away'}"
          ng-click="setType('take-away')"
          >Take-away</a
        >
      </li>
    </ul>
  </div>
  <div ng-if="object.orders" class="order__mainDiv">
    <div
      class="order__card"
      ng-repeat="order in object.orders |filter:object.filter.status |filter:object.filter.type"
    >
      <div>
        <div
          style="display: flex; justify-content: space-between; width: 285px"
        >
          <div>
            <span style="font-weight: 600">OrderId : </span>{{order.orderId}}
          </div>
          <div
            class="order__infoIcon"
            data-toggle="modal"
            data-target=".bd-example-modal-lg"
            ng-click="setData(order.items,order.customer,order.totalPrice,order.tableNumber)"
          >
            <i class="fa-solid fa-info"></i>
          </div>
          <div
            class="modal fade bd-example-modal-lg"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myLargeModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg" role="document">
              <div
                style="flex-wrap: wrap"
                class="modal-content order__modalContainer"
              >
                <div class="order__modalLeft">
                  <div class="order__customerDetail">
                    <div>
                      <span style="font-weight: 900; opacity: 0.7">
                        Customer Details
                      </span>
                    </div>
                    <div>
                      <i class="fas fa-user"></i
                      ><span> {{object.customer.name}} </span>
                    </div>

                    <div>
                      <i class="fas fa-phone"></i
                      ><span> {{object.customer.number}} </span>
                    </div>
                  </div>

                  <div ng-if="object.allotedTable">
                    <div>Tables Alloted :{{object.allotedTable}}</div>
                    <div>
                      <button
                        data-toggle="modal"
                        data-target="#tables"
                        data-whatever="@mdo"
                        class="btn btn-secondard"
                      >
                        Swap tables
                      </button>
                      <div
                        class="modal fade"
                        id="tables"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="exampleModalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">
                                Select Available Table For Swaping
                              </h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div
                              style="display: flex; gap: 5px; flex-wrap: wrap"
                              class="modal-body"
                            >
                              <div
                                class="agt__tableDiv"
                                title="{{table.isAvailable?'available':'booked'}}"
                                ng-class="{'agt__tableGreen order__pointer':table.isAvailable,'order__none':!table.isAvailable,'order__activeTable': object.activeIndex.includes($index)}"
                                ng-repeat="table in object.tables"
                                ng-disabled="!table.isAvailable"
                                ng-click="swapTableHandler(table,$index)"
                              >
                                <p style="font-weight: 900">{{table.number}}</p>
                                <p
                                  style="
                                    text-align: center;
                                    width: -webkit-fill-available;
                                  "
                                >
                                  {{table.capacity}}
                                </p>
                              </div>
                              <div>
                                <button
                                  ng-disabled="object.activeIndex.length===0"
                                  class="btn btn-warning"
                                  ng-click="updateTableNo(order._id,order.tableNumber)"
                                >
                                  {{object.swapBtn}}
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="order__modalRight">
                  <div>
                    <h5>
                      <i class="fas fa-shopping-cart"></i>
                      <span>Cart</span>
                    </h5>
                  </div>

                  <div
                    class="order__modalProduct"
                    ng-repeat="product in object.items"
                  >
                    <div
                      style="
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                      "
                    >
                      <div style="margin-right: 10px">
                        <img
                          style="object-fit: contain; height: 100px"
                          src="{{product.img}}"
                          alt="..."
                        />
                      </div>
                      <div>
                        <div>
                          <span style="font-weight: 900; font-size: 24px">
                            {{product.name}}
                          </span>
                        </div>
                        <div
                          style="
                            display: flex;
                            width: 100%;

                            opacity: 0.7;
                          "
                        >
                          <h5 style="font-weight: bolder">
                            Rs. {{product.price}}
                          </h5>
                        </div>
                        <div>
                          <span style="font-weight: 900; opacity: 0.5"
                            >Quant.{{product.quantity}}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>Pay: {{object.amount}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <span style="font-weight: 900; opacity: 0.6"
            >Quantity :{{order.totalQuantity}}</span
          >
        </div>
      </div>
      <div>
        <span> Rs.{{order.totalPrice}} </span>
      </div>
      <div>
        <span
          ng-class="{'badge badge-success':order.status==='served','badge badge-success':order.status==='completed','badge badge-warning':order.status==='preparing','badge badge-primary':order.status==='serving','badge badge-secondary':order.status==='pending','badge badge-danger':order.status==='cancelled'}"
          >{{order.status}}</span
        >
      </div>
      <div style="display: flex; align-items: center; flex-wrap: wrap">
        <button
          ng-if="order.status==='pending'"
          ng-click="updateStatus('preparing',order._id)"
          class="btn btn1"
        >
          preparing
        </button>
        <button
          ng-if="order.status!=='served' && order.status!=='cancelled' && order.status!=='completed'"
          ng-click="updateStatus('cancelled',order._id)"
          class="btn btn1"
        >
          cancelled
        </button>
        <button
          ng-if="order.status==='pending' || order.status==='preparing' "
          ng-click="updateStatus('serving',order._id)"
          class="btn btn1"
        >
          serving
        </button>
        <button
          ng-if="order.status==='serving'"
          ng-click="updateStatus('served',order._id)"
          class="btn btn1"
        >
          served
        </button>
        <button
          ng-if="order.status==='served'"
          ng-click="updateStatusToCompleted('completed',order._id,order.tableNumber,order.type)"
          class="btn btn1"
        >
          completed
        </button>
      </div>
    </div>
  </div>
</div>
<div
  ng-if="object.isLoading"
  class="loader"
  style="
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
    opacity: 0.5;
    top: 0px;
  "
></div>
