<div class="agt__extDiv" ng-controller="outletAgentController">
    <div class="agt__nav">
        
            nav
        
        
    </div>
    <div class="agt__mainDiv">
        <div class="agt__leftSide">
            <div class="agt__header">

            </div>
            <div class="agt__searchField">
    
            </div>
            <p class="agt__itemsNumbering"></p>
            <div class="items">
    
            </div>
            <div class="agt__category">
    
            </div>  
        </div>

        <div class="agt__rightSide">
            
        </div>
       
    </div>
</div>