<div style="width: 100%" ng-class="{'dim':object.isLoading}">
  <div ng-if="object.subCategories" style="padding: 10px">
    <h4>Sub Categories</h4>
  </div>
  <div id="subCategory" style="display: flex; flex-wrap: wrap; gap: 15px">
    <div class="spr__brandCard" ng-repeat="subCategory in object.subCategories">
      <div
        style="
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
        "
      >
        <div>
          <img
            src="{{subCategory.logo}}"
            style="object-fit: contain; height: 80px"
            alt="..."
          />
        </div>
        <div>{{subCategory.name}}</div>
      </div>
      <div
        ui-sref="outletAdmin.outletBrandProduct({id:subCategory._id})"
        style="
          cursor: pointer;
          padding: 5px;
          margin-top: 6px;
          opacity: 0.8;
          border: 1px solid lightgray;
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        "
      >
        Show Products
      </div>
    </div>
  </div>
</div>
<div
  ng-if="object.isLoading"
  class="loader"
  style="width: 100%; height: -webkit-fill-available; position: absolute"
></div>
