<div ng-class="{'dim':isLoading}">
  <div id="container1">
    <div class="box">
      <div class="subBox">
        <p><i title="brands" class="bx bx-building"></i></p>
        <span> Total Brands </span>
        <p style="font-weight: 900; opacity: 0.8">{{object.brandCnt}}</p>
      </div>
    </div>
    <div class="box">
      <div class="subBox">
        <p><i title="employees" class="fa fa-users" aria-hidden="true"></i></p>
        <span> Total Users </span>
        <p style="font-weight: 900; opacity: 0.8">{{object.userCnt}}</p>
      </div>
    </div>
    <div class="box">
      <div class="subBox">
        <p><i title="Outlets" class="bx bx-cart"></i></p>
        <span> Total Outlets </span>
        <p style="font-weight: 900; opacity: 0.8">{{object.outletCnt}}</p>
      </div>
    </div>
    <div class="box">
      <div class="subBox">
        <p><i title="Outlets" class="bx bx-cart"></i></p>
        <span> Total Revenue for last month </span>
        <p style="font-weight: 900; opacity: 0.8">Rs.{{object.totalRevenue}}</p>
      </div>
    </div>
  </div>

  <div
    style="
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border: 1px solid lightgray;
      border-radius: 3px;
      background: #fdfdfd;
      margin: 10px;
      padding: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    "
  >
    <div
      style="
        width: 800px;
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
        display: flex;
        flex-wrap: wrap;
      "
    >
      <div class="analysis__displayColumn">
        <div class="dropdown show">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Select Month
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a
              class="dropdown-item"
              style="cursor: pointer"
              ng-repeat="month in object.months"
              ng-click="getDataOfTopTwoBrands($index)"
              >{{month}}</a
            >
          </div>
        </div>

        <div class="analysis__smallBox">
          <div>
            <span> Total Outlets(1st): </span>
            <span style="font-weight: 900; opacity: 0.8">
              {{object.topBrandOutletCnt}}
            </span>
          </div>
          <div>
            <span> Total Outlets(2nd): </span>
            <span style="font-weight: 900; opacity: 0.8">
              {{object.topSecondBrandOutletCnt}}
            </span>
          </div>
        </div>
        <div class="analysis__smallBox">
          <div>
            <span> Total Employees(1st): </span>
            <span style="font-weight: 900; opacity: 0.8">
              {{object.topBrandEmployeeCnt}}
            </span>
          </div>
          <div>
            <span> Total Employees(2nd): </span>
            <span style="font-weight: 900; opacity: 0.8">
              {{object.topSecondBrandEmployeeCnt}}
            </span>
          </div>
        </div>
      </div>
      <div>
        <h3>
          Top Brand from Last Month:<span style="opacity: 0.8"
            >{{object.topBrandName}}</span
          >
        </h3>
        <canvas id="myChart3" area-label="chart"></canvas>
      </div>
    </div>

    <div
      style="
        min-width: 238px;
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
        height: fit-content;
      "
    >
      <span style="font-weight: 900; opacity: 0.8; padding: 5px">
        Top Brands of Last Months
      </span>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="brands in object.topBrands">
          {{brands._id}}
        </li>
      </ul>
    </div>
  </div>
  <div
    style="
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border: 1px solid lightgray;
      border-radius: 3px;
      background: #fdfdfd;
      margin: 10px;
      padding: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    "
  >
    <div style="width: 400px">
      <h3>Top 5 outlet Rankings</h3>
      <canvas id="myChart4" area-label="chart"></canvas>
    </div>
    <div style="width: 400px">
      <h3>Users Per brand</h3>
      <canvas id="myChart5" area-label="chart"></canvas>
    </div>
  </div>
  <div
    style="
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      border: 1px solid lightgray;
      border-radius: 3px;
      margin: 10px;
      padding: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    "
  >
    <div class="row">
      <div class="col-4">
        <div
          style="width: fit-content"
          class="list-group"
          id="list-tab"
          role="tablist"
        >
          <input
            type="text"
            style="margin-bottom: 10px; min-width: 275px"
            ng-model="search.name"
            placeholder="type brand name"
            class="form-control"
          />
          <a
            class="list-group-item list-group-item-action"
            style="min-width: 275px"
            ng-repeat="brand in object.brands | filter:search"
          >
            <div class="dropright analysis__brandList">
              <div
                ng-click="fechGraphData(brand._id,brand.name)"
                style="
                  display: flex;
                  cursor: pointer;
                  flex-wrap: wrap;
                  align-items: center;
                "
              >
                <div>
                  <img
                    ng-show="brand.logo"
                    style="object-fit: contain; height: 50px"
                    src="{{brand.logo}}"
                    alt="..."
                  />
                </div>
                <div>{{brand.name}}</div>
              </div>
              <button
                ng-click="setOutletData(brand.outlets)"
                type="button"
                class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="sr-only">Toggle Dropright</span>
              </button>
              <div class="dropdown-menu">
                <div class="analysis__outletLists">
                  <ul class="list-group">
                    <li
                      style="cursor: pointer"
                      ng-click="fetchOutletGraphData(outlet._id,outlet.name)"
                      class="list-group-item"
                      ng-repeat="outlet in object.outlets"
                    >
                      {{outlet.name}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div
      style="
        width: 425px;
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
      "
      ng-show="object.brandDates.length>1"
    >
      <h3>Brand: Last Month Revenue Analysis</h3>
      <canvas id="myChart1" area-label="chart"></canvas>
    </div>
    <div
      style="
        display: flex;
        width: 63%;
        align-items: center;
        justify-content: center;
        opacity: 0.7;
      "
      ng-show="object.brandDates.length===1"
    >
      Please select Brand from left side
    </div>
    <div
      style="
        width: 425px;
        padding: 10px;
        border: 1px solid lightgray;
        margin: 10px;
        border-radius: 3px;
      "
      ng-show="object.outletDates.length>1"
    >
      <h3>Outlet Last Month Revenue Analysis</h3>
      <canvas id="myChart2" area-label="chart"></canvas>
    </div>
  </div>
</div>
<div
  ng-show="false"
  style="
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  "
>
  <div id="map" style="height: 290px"></div>
</div>

<div
  ng-if="isLoading"
  class="loader"
  style="
    width: 100%;
    position: absolute;
    top: 141px;
    height: -webkit-fill-available;
    opacity: 0.5;
  "
></div>
