<div >
    <div id="container1">
        <div class="box">
            <div class="subBox">
                <p><i title="brands" class="bx bx-building" ></i>
                </p>
                <span>
                    Total Brands joined last month
                </span>
                <p id="upComingData">{{}}</p>
            </div>
            
        </div>
        <div class="box">
            <div class="subBox">
                <p><i title="employees" class="fa fa-users" aria-hidden="true"></i>
                </p>
                <span>
                    Total Users joined last month
                </span>
                <p id="noOfCustomer">{{}}</p>
            </div>
        </div>
        <div class="box">
            <div class="subBox">
                <p><i title="Outlets" class='bx bx-cart'></i>
                </p>
                <span>
                    Total Outlets joined last month
                </span>
                <p id="totalPay">{{}}</p>
            </div>
        </div>
    
    </div>
    
   
</div>