<div class="data__extDiv">
   <div class="data__mainDiv">
        <div class="data__heading">
            <h4>Brand Details</h4>
        </div>
        <div class="data__container">
            <div class="data__leftHeader">
                <img data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo" title="change image" style="cursor:pointer" class="data__logo" src={{brand.logo}} alt="...">
               
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Change Logo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                            <div class="modal-body">
                              <form name="BrandData" novalidate>
                                
                                <div class="form-group">
                                  <label for="logo" class="col-form-label">Logo :</label>
                                  <input type="file" accept="image/*" required  name="logo"  file-model="data.logo" >
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" ng-disabled="BrandData.$invalid" ng-click="changeLogo($event,brand._id)" class="btn btn-primary">Change Logo</button>
                                  </div>
                              
                              </form>
                            </div>
                          
                        </div>
                    </div>
                  </div>
            </div>
            <div class="data__rightHeader">
                <div class="data__form">
                    <form name="BrandData" novalidate>
                        <div class="form-group">
                          <label class="col-form-label">Brand Name:</label>
                          <div class="data__input">
                            <input type="text" name="brandName" ng-required="true" ng-minlength="3" ng-model="data.name" class="form-control" >
                            
                          </div>
                          
                          <span ng-show="BrandData.brandName.$dirty && BrandData.brandName.$error.minlength">Minimum 3 characters required</span>
                        </div>
                        <i ng-click="updateName(brand._id)"  class="fas fa-pencil-alt"></i>
                    </form>
                </div>
                <div class="data__form">
                    <form name="BrandData" novalidate>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email :</label>
                            <div class="data__input">
                                <input type="email" name="email" ng-required="true" ng-pattern="/^([a-z A-Z 0-9\.-]+)@([0-9 a-z A-Z -]+).([a-z]{2,8})(.[a-z{2,4}])?$/" ng-model="brand.contactInfo.email" class="form-control" >
                                
                            </div>
                            <span ng-show="BrandData.email.$dirty && !BrandData.email.$error.required && BrandData.email.$invalid">Please enter correct email</span>
                            <span ng-show="BrandData.email.$dirty && BrandData.email.$error.required">Please fill this field</span>
                        </div>
                        <div class="form-group">
                            <label for="number" class="col-form-label">Phone Number :</label>
                            <div class="data__input">
                                <input type="number" name="number" ng-required="true" ng-pattern="/^\d{10}$/"  ng-model="brand.contactInfo.number" class="form-control" >
                                
                            </div>
                            <span ng-show="BrandData.number.$dirty && BrandData.number.$invalid">please enter correct number</span>
                            <span ng-show="BrandData.number.$dirty && BrandData.number.$error.required">Please fill this field</span>
                        </div>
                        <i  class="fas fa-pencil-alt"></i>
                    </form>
                </div>
                <div class="data__form">
                    <form name="BrandData" novalidate>
                        <div class="form-group">
                            <label for="address" class="col-form-label">Address :</label>
                            <input type="text" name="address" ng-required="true"  ng-model="data.location.address" class="form-control" >
                            <span ng-show="BrandData.address.$dirty && BrandData.address.$error.required">Please fill this field</span>
                          </div>
                          <div class="form-group">
                            <label for="city" class="col-form-label">City :</label>
                            <input type="text" name="city" ng-required="true" ng-minlength="3" ng-model="data.location.city" class="form-control" >
                            <span ng-show="BrandData.city.$dirty && BrandData.city.$error.minlength">Please fill this field</span>
                          </div>
                          <div class="form-group">
                            <label for="pinCode" class="col-form-label">Pin Code :</label>
                            <input type="number" name="pinCode" ng-required="true" ng-minlength="6" ng-maxlength="6" ng-model="data.location.pinCode" class="form-control" >
                            <span ng-show="BrandData.pinCode.$dirty && BrandData.pinCode.$error.minlength ">6 characters required</span>
                           <span ng-show="BrandData.pinCode.$dirty && BrandData.pinCode.$error.maxlength">6 characters required</span>
                          </div>
                        <i ng-click="updateLocation(brand._id)"  class="fas fa-pencil-alt"></i>
                    </form>
                </div>
                
            </div>

        </div>
        <!-- <div class="data__description">
            <div>
                <span>
                    {{brand.description}}
                </span>
            </div>
        </div> -->
   </div>
</div>