<div class="spr__extDiv" ng-controller="superAdminController">
<div class="spr__mainDiv">
<div class="spr__nav">
    <div ui-sref="superAdmin.createBrand" ui-sref-active="active"  class="nav">
       Home
    </div>
    <div ui-sref-active="active"  ui-sref="superAdmin.users" class="nav">
      Users
    </div>
    <div ui-sref-active="active" ui-sref="superAdmin.analysis" class="nav">
      Analysis
    </div>
    <div ui-sref-active="active" ui-sref="superAdmin.setting({id:superAdminId})" class="nav">
      Setting
 </div>
</div>
<!-- {{parentState}} -->
  <div class="spr__rightSide">
    <ui-view></ui-view>
      
  </div>

</div>
</div>