<div style="display: flex; width: 100%; padding: 20px">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand logo</th>
        <th scope="col">name</th>
        <th scope="col">brand name(logo)</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="outlet in object.outlets">
        <th scope="row">{{$index}}</th>
        <td>
          <img
            style="object-fit: contain; height: 80px"
            src="{{outlet.brand.logo}}"
            alt="working"
          />
        </td>
        <td>{{outlet.name}}</td>
        <td>{{outlet.brand.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div
  ng-if="object.isLoading"
  class="loader"
  style="width: 100%; height: 100vh; position: absolute; opacity: 0.5"
></div>
