<div ng-controller="superAdminAnalysisController">
    <div class="spr__extDiv">
        <div class="spr__mainDiv">
        <div class="spr__nav">
            <div ui-sref="superAdmin" class="nav">
                 Home
            </div>
            <div ui-sref="superAdminBrandNames" class="nav">
                 Brand Names
            </div>
            <div ui-sref="superAdminAnalysis" style="background-color: rgb(106, 106, 244);" class="nav">
                 Analysis
            </div>
        </div>
        
        </div>
        </div>
</div>