.analysis{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid gray;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 20px;
    min-width: 415px;
}
.analysis__smallBox{
    min-width: 150px;
    height: 74px;
    border-radius: 3px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-betwee; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}
.analysis__displayColumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.graph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 20px;
}
#container1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    height: fit-content;
    min-width: 200px;
    border: 1px solid gray;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    
    min-width: 271px;

}
.row1,.row2,.row3{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    /* align-self: center; */
}
#container{
    display: flex;
    padding: 20px;
    background-color: #f1f1f1;
    flex-direction: column;
    align-items: center;
}
.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 10px;
}
.analysis__brandList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
.analysis__outletLists{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}
ul{
    list-style: none;
}