@import url('https://fonts.googleapis.com/css2?family=Faustina:ital@0;1&family=Phudu:wght@300&family=Roboto+Condensed&display=swap');
*::-webkit-scrollbar{
    /* display: none; */
    width: 5px;
    border-radius: 6px;
    background: lightgray;
}
.agt__extDiv{
    font-family: 'Faustina', serif;
    font-family: 'Phudu', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    /* min-width: 100vw; */
    /* width: max-content; */
    /* background: #16161a; */
}
.agt__nav{
    height: 98vh;
    width: 5%;
    min-width:60px;
    border-top-left-radius: 0px;
    /* border-radius: 85px; */
    background: #3da9fc;
    border-top-right-radius: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
    border-bottom-right-radius: 49px;
}
.agt__navComponent{
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    
    padding: 10px;
}
.agt__navProfileBtn{
    background: transparent;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: 0px;
    color: white;
}
.agt__activeNav{
    background: #3573de;
    border-radius: 3px;
}
.agt__mainDiv{
    display: flex;
    background: whitesmoke;
    min-width: 1098px;
    height: 95vh;
    width: 95%;
    justify-content: space-between;
    margin: 13px;
    border-radius: 28px;
    padding: 10px;
}
.agt__leftSide{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.inputs{

    position: relative;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-control1 {
text-indent: 15px;
border: none;
height: 45px;
/* padding: 10px; */
padding-left: 30px;
border-radius: 3px;
/* border-bottom: 1px solid black; */
}

.agt__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-control1:focus {
color: #495057;
background-color: #fff;
border-color: #eee;
outline: 0;
box-shadow: none;
/* border-radius: ; */

/* border-bottom: 1px solid black; */
}

.inputs i{
position: absolute;
top: 14px;
left: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
color: #b8b9bc;
}
.items{
    background: #fffffe;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 65%;
    overflow: auto;
    min-width: 520px;
}
.agt__rightSide{
    display: flex;
    width: 29%;
    background: #fffe;
    padding: 10px;
    border-radius: 3px;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
.agt__cart{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 68%;
    padding: 6px;
    gap: 5px;
    overflow-y: auto;
}
.agt__itemCart{
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.agt__bill{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: 7px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;

}
.agt__order{
    display: flex;
    width: 100%;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 7px;
    border-bottom-right-radius: 18px;
}
.agt__category{
    display: flex;
    background: #fffe;
    margin-top: 10px;
    height: 19%;
    border: 3px;
    border-bottom-left-radius: 31px;
    padding: 10px;
    min-height: 129px;
    min-width: 520px;
}
.agt__categoryCard{
    display: flex;
    align-items: center;
    padding: 19px;
    border-bottom-left-radius: 16px;
    cursor: pointer;
    width: 100%;
    border: 1px solid lightsteelblue;
    min-height: 100px;
    border-radius: 3px;


}
h5{
    align-self: center;
}
.agt__active{
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 4px 0px;
    background: #ffeeee40;
    opacity: 0.9;
    border-radius: 3px;
   
}
.agt__product{
    display: flex;
    flex-direction: column;
    width: 212px;
    height: 181px;
    border: 1px solid lightgray;
    border-radius: 3px;
    /* margin: 10px; */
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.ihover{
    transition: .9s ease-in;
    width: 30px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.ihover:hover{
    color: red  ;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-radius: 3px;

}
.agt__products1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}
.agt__tableDiv{
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    padding: 10px;
    flex-direction: column;
    width: 100px;
    height: 100px;
    gap: 5px;
    background: lightblue;
}
.agt__tableGreen{
    background: #75d875;
}
.agt__cart div.ng-enter {
    transition: 0.4s linear all;
    opacity: 0;
    transform: translateY(30px);
  }


  
  .agt__cart div.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0px);
}
.agt__products1 div.ng-enter {
    transition: 0.4s ease-in-out all;
    opacity: 0;
    transform: translateZ(30px)
  }


.agt__products1 div.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateZ(0px);
}

.agt__bill.ng-enter {
    transition: 0.4s linear all;
    opacity: 0;
    transform: translateY(30px);
  }
  
.agt__bill.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

.agt__order.ng-enter {
    transition: 0.4s linear all;
    opacity: 0;
    transform: translateY(30px);
  }
  
.agt__order.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateY(0px);
}
