@import url('https://fonts.googleapis.com/css2?family=Faustina:ital@0;1&family=Phudu:wght@300&family=Roboto+Condensed&display=swap');

.agt__extDiv{
    font-family: 'Faustina', serif;
    font-family: 'Phudu', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    /* width: 100vw; */
    background: #16161a;
}
.agt__nav{
    height: 70vh;
    width: 5%;
    border-top-left-radius: 0px;
    /* border-radius: 85px; */
    background: #3da9fc;
    border-top-right-radius: 49px;
    border-bottom-right-radius: 49px;
}
.agt__mainDiv{
    display: flex;
    background: whitesmoke;
    
    height: 95vh;
    width: 95%;
    justify-content: space-between;
    margin: 13px;
    border-radius: 28px;
    padding: 10px;
}
.agt__leftSide{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.inputs{

    position: relative;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-control {
text-indent: 15px;
border: none;
height: 45px;
/* padding: 10px; */
border-radius: 0px;
/* border-bottom: 1px solid black; */
}

.form-control:focus {
color: #495057;
background-color: #fff;
border-color: #eee;
outline: 0;
box-shadow: none;

/* border-bottom: 1px solid black; */
}

.inputs i{
position: absolute;
top: 14px;
left: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
color: #b8b9bc;
}
.items{
    background: #fffffe;
    border-radius: 3px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.agt__rightSide{
    display: flex;
    width: 29%;
    background: #fffe;
    padding: 10px;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}